
/* Styles */
body {
  font: 14px PingFangSC,"苹方","Helvetica Neue", Helvetica, Tahoma, Arial, SimSun, "宋体","Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", Heiti, "黑体", sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

#app {
  height: 100%;
}
